{% extends "base.html.twig" %}

{% block body %}
    {{ form_start(form) }}
        <div class="card-header">
            <h1>Reinitialiser le mot de passe</h1>
        </div>
        <div class="card-body">
            {{ form_rest(form) }}
        </div>
        <div class="card-footer">
            <a href="{{path("security_login")}}">retour</a>
            <button type="submit">Valider</button>
        </div>
    {{ form_end(form) }}
{% endblock %}